//vars
$primary-color: #d35649;
$secondary-color: #bebdbd;
$light-text: #fff;
$dark-text: #4c4851;
$first-reason: #e27f65;
$second-reason: #519bd7;
$third-reason: #99a4a6;
$mildly-imp-text: 600;
$imp-text: 700;
$very-imp-text: 900;

//mixins

@mixin rounded-border {
  border-radius: 7px;
}
//general styles

html {
  font-size: 62.5%;
  color: $dark-text;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.j-around {
  justify-content: space-around;
}
.a-center {
  align-items: center;
}

//navbar

nav {
  background: $primary-color;
  padding: 2.5rem;
  a {
    color: $light-text;
    font-size: 1.4rem;
  }
  i {
    font-size: 1.8rem;
    margin: 0.5rem;
  }
  .brand {
    font-size: 2.1rem;
    font-weight: $imp-text;
    margin-top: -15px;
  }
}

//section with bg image and search box

.search {
  background: #eee url("/images/homepage-bg.jpg") left 0 top 80% no-repeat;
  background-size: cover;
  padding: 15rem 30%;
  h1 {
    font-size: 2.9rem;
    font-weight: $very-imp-text;
    text-align: center;
    color: $light-text;
  }
  .search-box {
    margin: 2rem auto;
    padding: 2rem;
    background-color: rgba($secondary-color, 0.8);
    font-size: 1.7rem;
    @include rounded-border();
    h2 {
      margin-bottom: 1rem;
    }
    .input-form {
      height: 3rem;
      input {
        border: none;
      }
      .search-btn {
        background-color: $primary-color;
        color: $light-text;
        line-height: 3rem;
        padding: 0 1.5rem;
      }
    }
  }

  .small-btn {
    font-size: 1.8rem;
    margin: auto;
    padding: 1rem;
    background-color: $secondary-color;
    color: $dark-text;
    @include rounded-border();
  }
}

//steps

.four-steps {
  padding: 4rem 6rem;
  text-align: center;
  line-height: 1.3;
  h1 {
    color: $primary-color;
    font-size: 2.5rem;
    font-weight: $imp-text;
    text-align: center;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 7rem;
  }
  .icon {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: $imp-text;
    padding: 1.5rem 0;
  }
  .step-text {
    font-size: 1.5rem;
  }
}

//reasons

.reason {
  color: $light-text;
  padding: 1rem 5rem;
  h3 {
    font-size: 1.8rem;
    font-weight: $mildly-imp-text;
  }
  p {
    font-size: 1.5rem;
    padding: 2rem 0;
  }
  img {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
  }
  button {
    background-color: $light-text;
    border: none;
    padding: 1rem;
  }
}

.reason:nth-child(1) {
  background-color: $first-reason;
  button {
    color: $first-reason;
  }
}

.reason:nth-child(2) {
  background-color: $second-reason;
  button {
    color: $second-reason;
  }
}

.reason:nth-child(3) {
  background-color: $third-reason;
  button {
    color: $third-reason;
  }
}

footer {
  padding-top: 2rem;
  background-color: #000;
  a {
    color: $light-text;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: $imp-text;
    padding: 2rem 0;
  }
  .top-ftr {
    border: 1px #181818;
    border-style: solid none;
    padding: 1rem 5rem;
    font-weight: $imp-text;
  }
  .top-ftr-logo {
    border-radius: 50%;
    background-color: #000;
    font-size: 2.5rem;
    border: 1px solid #181818;
    padding: 2rem;
  }
  .middle-ftr {
    padding: 0 5rem 2rem;
    text-align: center;
    color: $light-text;
    font-size: 1.2rem;
    a {
      color: $primary-color;
    }
    .middle-ftr-item {
      flex-basis: (100%/3);
    }
  }
  .search-btn {
    background-color: #181818;
    border: none;
    color: $light-text;
    line-height: 3rem;
    padding: 0 1.5rem;
  }

  .btm-ftr {
    background-color: #1f1f1f;
    color: $third-reason;
    padding: 1.7rem 1rem;
  }
}
