*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: #4c4851;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.j-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.j-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.a-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav {
  background: #d35649;
  padding: 2rem;
}

nav a {
  color: #fff;
  font-size: 1.4rem;
}

nav i {
  margin: 0.5rem;
}

nav .brand {
  font-size: 4rem;
  font-weight: 700;
  margin-top: -15px;
}

nav .nav-links i {
  font-size: 1.4rem;
}

@media (max-width: 1023px) {
  nav .nav-links .nav-link {
    margin: 0 1.5rem;
  }
  nav .nav-links span {
    display: none;
  }
}

@media (max-width: 767px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav i {
    margin: 1rem 0;
  }
}

.search {
  background: #eee url("/images/homepage-bg.jpg") center top no-repeat;
  background-size: cover;
  padding: 15rem 25%;
}

@media (max-width: 767px) {
  .search {
    padding: 8rem 2rem 1rem;
    height: 90vh;
  }
}

.search h1 {
  font-size: 2.9rem;
  font-weight: 900;
  text-align: center;
  color: #fff;
}

@media (max-width: 767px) {
  .search h1 {
    font-weight: 700;
  }
}

.search .search-box {
  margin: 2rem auto;
  padding: 4rem;
  background-color: rgba(190, 189, 189, 0.8);
  font-size: 1.7rem;
  border-radius: 7px;
}

.search .search-box h2 {
  margin-bottom: 1rem;
}

.search .search-box .input-form input {
  width: 80%;
  display: block;
  line-height: 3rem;
}

.search .search-box .input-form .search-btn {
  width: 10rem;
  background-color: #d35649;
  color: #fff;
  line-height: 3rem;
  text-align: center;
}

@media (max-width: 1023px) {
  .search .search-box .input-form .search-btn {
    background-color: #519bd7;
  }
}

@media (max-width: 767px) {
  .search .search-box {
    padding: 2rem;
  }
  .search .search-box .input-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .search .search-box .input-form input {
    width: 100%;
  }
  .search .search-box .input-form .search-btn {
    margin: auto;
    width: 100%;
    background-color: #d35649;
    margin-top: 1.5rem;
  }
}

.search .small-btn {
  font-size: 1.8rem;
  margin: auto;
  padding: 1rem;
  background-color: #bebdbd;
  color: #4c4851;
  border-radius: 7px;
}

.four-steps {
  padding: 4rem 6rem;
  text-align: center;
  line-height: 1.3;
}

.four-steps h1 {
  color: #d35649;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}

.four-steps .wrapper {
  margin-top: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 5rem 7rem;
}

@media (max-width: 1023px) {
  .four-steps .wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

.four-steps .icon {
  font-size: 3rem;
}

.four-steps h2 {
  font-size: 2rem;
  font-weight: 700;
  padding: 1.5rem 0;
}

.four-steps .step-text {
  font-size: 1.5rem;
}

.reason {
  color: #fff;
  padding: 1rem 5rem;
}

.reason h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.reason p {
  font-size: 1.5rem;
  padding: 2rem 0;
}

.reason img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
}

.reason button {
  background-color: #fff;
  padding: 1rem;
}

@media (max-width: 1023px) {
  .reason {
    padding: 1rem 3rem;
  }
}

@media (max-width: 767px) {
  .reason {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .reason img {
    margin-bottom: 1rem;
    width: 15rem;
    height: 15rem;
  }
}

.reason:nth-child(1) {
  background-color: #e27f65;
}

.reason:nth-child(1) button {
  color: #e27f65;
}

.reason:nth-child(2) {
  background-color: #519bd7;
}

.reason:nth-child(2) button {
  color: #519bd7;
}

.reason:nth-child(3) {
  background-color: #99a4a6;
}

.reason:nth-child(3) button {
  color: #99a4a6;
}

.homepage-ftr {
  padding-top: 2rem;
  background-color: #000;
}

.homepage-ftr a {
  color: #fff;
}

.homepage-ftr h4 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 2rem 0;
}

.homepage-ftr .top-ftr {
  border: 1px #181818;
  border-style: solid none;
  padding: 1rem 5rem;
  font-weight: 700;
}

.homepage-ftr .top-ftr .top-ftr-logo {
  border-radius: 50%;
  background-color: #000;
  font-size: 2.5rem;
  border: 1px solid #181818;
  padding: 2rem;
}

@media (max-width: 767px) {
  .homepage-ftr .top-ftr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .homepage-ftr .top-ftr > * {
    margin: 2rem 0;
  }
  .homepage-ftr .top-ftr div {
    margin: 2rem 0;
  }
}

.homepage-ftr .middle-ftr {
  padding: 0 5rem 2rem;
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}

.homepage-ftr .middle-ftr a {
  color: #d35649;
}

.homepage-ftr .middle-ftr .middle-ftr-item {
  -ms-flex-preferred-size: 33.33333%;
      flex-basis: 33.33333%;
}

@media (max-width: 1023px) {
  .homepage-ftr .middle-ftr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.homepage-ftr .search-btn {
  background-color: #181818;
  color: #fff;
  line-height: 3rem;
  padding: 0 1.5rem;
}

.homepage-ftr .btm-ftr {
  background-color: #1f1f1f;
  color: #99a4a6;
  padding: 1.7rem 1rem;
}

.filter {
  text-align: center;
  background: rgba(190, 189, 189, 0.8);
  margin: 4rem 0;
  padding: 2rem;
}

@media (max-width: 767px) {
  .filter .filter-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.filter .filter-items > * {
  margin: 3rem 0.5rem;
}

.filter h1 {
  font-size: 1.8rem;
  color: #99a4a6;
}

.filter h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-align: left;
}

.filter h1,
.filter h2 {
  font-weight: 700;
}

.filter input {
  display: block;
  width: 100%;
}

.filter select {
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background: #fff url("/images/caret-down-solid.svg") center right 0.2rem no-repeat;
}

.filter input,
.filter select {
  padding: 0.5rem 0.1rem;
  border-radius: 0.3rem;
}

.filter .filter-btns {
  text-align-last: left;
}

.filter .filter-btns button {
  padding: 0.7rem 0.5rem;
  color: #fff;
  border-radius: 0.2rem;
}

.filter .filter-btns .filter-btn-1 {
  background: #457eb4;
}

.filter .filter-btns .filter-btn-2 {
  background: #e5ab5b;
}

.results {
  margin-bottom: 4rem;
}

.results h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 4rem;
}

.results h3 {
  font-size: 1.6rem;
  color: #fff;
}

.results h3 span {
  font-weight: 700;
}

.results .results-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: center;
  margin: 0 2rem;
}

.results .results-wrapper .result-item {
  background: #d95f4b;
  padding: 9rem 0 12rem;
}

@media (max-width: 1023px) {
  .results .results-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */