//vars
$primary-color: #d35649;
$secondary-color: #bebdbd;
$light-text: #fff;
$dark-text: #4c4851;
$first-reason: #e27f65;
$second-reason: #519bd7;
$third-reason: #99a4a6;
$mildly-imp-text: 600;
$imp-text: 700;
$very-imp-text: 900;
$tablet: 1023px;
$phone: 767px;

//mixins

@mixin rounded-border {
  border-radius: 7px;
}
//general styles

*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  color: $dark-text;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

input,
button {
  border: none;
}
.flex {
  display: flex;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

.j-around {
  justify-content: space-around;
}
.a-center {
  align-items: center;
}

//navbar

nav {
  background: $primary-color;
  padding: 2rem;
  a {
    color: $light-text;
    font-size: 1.4rem;
  }
  i {
    margin: 0.5rem;
  }
  .brand {
    font-size: 4rem;
    font-weight: $imp-text;
    margin-top: -15px;
  }
  .nav-links {
    i {
      font-size: 1.4rem;
    }
    @media (max-width: $tablet) {
      .nav-link {
        margin: 0 1.5rem;
      }
      span {
        display: none;
      }
    }
  }
  @media (max-width: $phone) {
    flex-direction: column;
    align-items: center;
    i {
      margin: 1rem 0;
    }
  }
}

//section with bg image and search box

.search {
  background: #eee url("/images/homepage-bg.jpg") center top no-repeat;
  background-size: cover;
  padding: 15rem 25%;
  @media (max-width: $phone) {
    padding: 8rem 2rem 1rem;
    height: 90vh;
  }
  h1 {
    font-size: 2.9rem;
    font-weight: $very-imp-text;
    text-align: center;
    color: $light-text;
    @media (max-width: $phone) {
      font-weight: $imp-text;
    }
  }
  .search-box {
    margin: 2rem auto;
    padding: 4rem;
    background-color: rgba($secondary-color, 0.8);
    font-size: 1.7rem;
    @include rounded-border();
    h2 {
      margin-bottom: 1rem;
    }
    .input-form {
      input {
        width: 80%;
        display: block;
        line-height: 3rem;
      }
      .search-btn {
        width: 10rem;
        background-color: $primary-color;
        color: $light-text;
        line-height: 3rem;
        text-align: center;
        @media (max-width: $tablet) {
          background-color: $second-reason;
        }
      }
    }
    @media (max-width: $phone) {
      padding: 2rem;
      .input-form {
        flex-direction: column;
        justify-content: space-between;

        input {
          width: 100%;
        }
        .search-btn {
          margin: auto;
          width: 100%;
          background-color: $primary-color;
          margin-top: 1.5rem;
        }
      }
    }
  }

  .small-btn {
    font-size: 1.8rem;
    margin: auto;
    padding: 1rem;
    background-color: $secondary-color;
    color: $dark-text;
    @include rounded-border();
  }
}

//steps

.four-steps {
  padding: 4rem 6rem;
  text-align: center;
  line-height: 1.3;
  h1 {
    color: $primary-color;
    font-size: 2.5rem;
    font-weight: $imp-text;
    text-align: center;
  }
  .wrapper {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 7rem;
    @media (max-width: $tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, 1fr);
    }
  }
  .icon {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
    font-weight: $imp-text;
    padding: 1.5rem 0;
  }
  .step-text {
    font-size: 1.5rem;
  }
}

//reasons

.reason {
  color: $light-text;
  padding: 1rem 5rem;
  h3 {
    font-size: 1.8rem;
    font-weight: $mildly-imp-text;
  }
  p {
    font-size: 1.5rem;
    padding: 2rem 0;
  }
  img {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
  }
  button {
    background-color: $light-text;
    padding: 1rem;
  }
  @media (max-width: $tablet) {
    padding: 1rem 3rem;
  }
  @media (max-width: $phone) {
    flex-direction: column-reverse;
    img {
      margin-bottom: 1rem;
      width: 15rem;
      height: 15rem;
    }
  }
}

.reason:nth-child(1) {
  background-color: $first-reason;
  button {
    color: $first-reason;
  }
}

.reason:nth-child(2) {
  background-color: $second-reason;
  button {
    color: $second-reason;
  }
}

.reason:nth-child(3) {
  background-color: $third-reason;
  button {
    color: $third-reason;
  }
}

.homepage-ftr {
  padding-top: 2rem;
  background-color: #000;
  a {
    color: $light-text;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: $imp-text;
    padding: 2rem 0;
  }
  .top-ftr {
    border: 1px #181818;
    border-style: solid none;
    padding: 1rem 5rem;
    font-weight: $imp-text;
    .top-ftr-logo {
      border-radius: 50%;
      background-color: #000;
      font-size: 2.5rem;
      border: 1px solid #181818;
      padding: 2rem;
    }
    @media (max-width: $phone) {
      flex-direction: column;
      & > * {
        margin: 2rem 0;
      }
      div {
        margin: 2rem 0;
      }
    }
  }
  .middle-ftr {
    padding: 0 5rem 2rem;
    text-align: center;
    color: $light-text;
    font-size: 1.2rem;
    a {
      color: $primary-color;
    }
    .middle-ftr-item {
      flex-basis: (100%/3);
    }
    @media (max-width: $tablet) {
      flex-direction: column;
    }
  }
  .search-btn {
    background-color: #181818;

    color: $light-text;
    line-height: 3rem;
    padding: 0 1.5rem;
  }

  .btm-ftr {
    background-color: #1f1f1f;
    color: $third-reason;
    padding: 1.7rem 1rem;
  }
}

//filter

.filter {
  text-align: center;
  background: rgba($secondary-color, 0.8);
  margin: 4rem 0;
  padding: 2rem;
  .filter-items > * {
    margin: 3rem 0.5rem;
  }
  h1 {
    font-size: 1.8rem;
    color: $third-reason;
  }
  h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-align: left;
  }
  h1,
  h2 {
    font-weight: $imp-text;
  }
  input {
    display: block;
  }
  select {
    border: none;
    appearance: none;
    width: 100%;
    background: #fff url("/images/caret-down-solid.svg") center right 0.2rem
      no-repeat;
  }
  input,
  select {
    padding: 0.5rem 0.1rem;
    border-radius: 0.3rem;
  }
  .filter-btns {
    text-align-last: left;
    button {
      padding: 0.7rem 0.5rem;
      color: $light-text;
      border-radius: 0.2rem;
    }
    .filter-btn-1 {
      background: #457eb4;
    }
    .filter-btn-2 {
      background: #e5ab5b;
    }
  }
}
